body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

nav{
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    padding: 17px 65px;
    background-color: rgb(255, 255, 255);
}

.nav-Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-Top h3{
    font-weight: 550;
}
.nav-Top a{
    text-decoration: none;
    color: #000;
}

.search {
    width: 750px;
    display: flex;
    align-items: center;
    /* border: 2px solid rgb(69, 69, 170); */

}

.searchTo{
    border: 2.5px solid #088178;
}

.search .bi{
    font-size: 22px;
    padding: 0px 10px;

}
.offer span{
    font-weight: 600;
}

.offer .bi-gift{
    color: #bd6924;
}

.todaysoffer{
    font-size: 20px;
    font-weight: 400;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;

}

.navBottom a{
    text-decoration: none;
}

.menuItem{
    /* margin-left: 10px; */
    margin-top: 20px;
    font-weight: 550;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.menuItem:hover{
    color: #198754;
    
}
/* ========================= */
/* jeans header */

.jeansheader{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('/img/jeans/jeansheader.avif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
    
}

.jeansheader h4{
    color: #ffff;
    font-family: 'Kalnia', serif;
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
    font-weight: 600;
}

.jeansheader h2{
    color: #088178;
    font-size: 40px;
    font-weight: 700;
}

/* ============================ */
#jeansproduct{
    text-align: center;
}

#jeansproduct h1{
    margin-top: 70px;
    font-family: 'Kalnia', serif;
    font-family: 'Roboto Mono', monospace;
    font-weight: 1000;
}

#jeansproduct p{
    color: #acb0ad;

}


#jeansproduct .pro-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

#jeansproduct .pro {
    width: calc(23% - 25px); /* Adjusted width calculation to include margin */
    min-width: 240px;
    margin: 0 25px 20px 25px; /* Added margin to separate items */
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    transition: 0.5s ease;
    position: relative;
}

#jeansproduct .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
}

#jeansproduct .pro img{
    width: 100%;
    border-radius: 20px;
    height: 40vh;

}

#jeansproduct .pro .decs{
    text-align: start;
    padding: 10px 0px;
}

#jeansproduct .pro .decs span{
    color: gray;
    font-size: 13px;
}

#jeansproduct .pro .decs h5{
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -1px;
}

#jeansproduct .pro .decs .bi-star-fill{
    color: rgb(237, 194, 22);
}

#jeansproduct .pro .decs h6{
    color: #088178;
    font-size: 17px;
    font-weight: 700;
    padding: 7px 0 0 0 ;
}

#jeansproduct .pro .cart{
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 27px;
    font-weight: 500;
    border-radius: 50px;
    color: #088178;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#jeansproduct .pro .cart:hover{
    color: #ffc107;
}

/* Footer section */


footer{
    display: flex;
    background-color: rgb(28, 28, 28);
    color: #ffff;
}
.footerleft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 10px 200px;
    
}

.footertitle{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.fMenulist{
    padding: 0;
    list-style: none;
    color: rgb(200, 191, 191);
    
}

.item{
    color: rgb(200, 191, 191);
    margin-bottom: 7px;
    cursor: pointer;   
}

.fMenulist a{
    text-decoration: none;
}

.item:hover{
    color: #ffc107;
}

.footerright{
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput{
    padding: 5px;
    margin-bottom: 20px;
}

.footerbtn{
    padding: 5px;
    background-color: #000;
    color: #ffff;
    border: none;
}

.footerbtn:hover{
    color: black;
    background-color: #ffc107;
    border: none;
}

.footerfollow{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ficon{
    font-size: 20px;
    color: rgb(200, 191, 191);
    margin-bottom: 22px;
}
.ficon:hover{
    color: #ffc107;
}
.copyright{
    font-size: 15px;
    font-weight: 600;
}